$glitter: #E7ECEF;
$patblue: #274C77;
$lakeblue: #6096BA;
$babyblue: #A3CEF1;
$taupegray: #8B8C89;
$intenseblue: #0069d9;
$white: #FFFFFF;
$black: #000000;

$glitter-transparent: rgba(231, 236, 239, $transparency);
$patblue-transparent: rgba(39, 76, 119, $transparency);
$lakeblue-transparent: rgba(96, 150, 186, $transparency);
$babyblue-transparent: rgba(163, 206, 241, $transparency);
$taupegray-transparent: rgba(139, 140, 137, $transparency);
$intenseblue-transparent: rgba(0, 105, 217, $transparency);
$white-transparent: rgba(255, 255, 255, $transparency);
$black-transparent: rgba(0, 0, 0, $transparency);