/*
COLOR PALLET:
1. #FFEAD0
2. #2A324B
3. #077187
4. #C7CCDB
5. #E1E5EE
*/

body{
  background: #FFEAD0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2A324B;
}


h1.title{
    font-weight: bold;
    font-size: 46px;
}
.main-title{
  margin-bottom: 75px;
}

.note{
  margin-bottom: 20px;
}
.note-title{
  font-size: 19px;
  position: relative;
}
.note-title .trash{
  position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: auto;
    right: 35px;
    border: 0 !important;
    z-index: 1;
    text-decoration: none;
}
.note-title .collapsed .trash{
  color: #FFEAD0 !important;
}
.note-title .trash i{
    font-size: 20px;
}

.note-blue .note-title a.trash, .note-gray .note-title a.trash{
  color: #FFEAD0;
}
.note-blue .note-title a{
  color: #2A324B;
  border-color: #2A324B;
}
.note-blue .note-title a.collapsed{
  color: #FFEAD0;
  background: #2A324B;
}
.note-gray .note-title a{
  color: #077187;
  border-color: #077187;
}
.note-gray .note-title a.collapsed{
  color: #FFEAD0;
  background: #077187;
}
.note-gray .note-content{
  border-color: #077187;
}
.note-title a{
  padding: 5px 10px;
  width: 100%;
  display: block;
  transition: all 250ms ease-in;
  background: transparent;
  border: 2px solid;
  border-bottom: 0;
  position: relative;
  padding-right: 40px;
  text-decoration: underline ;
}
.note-title a.collapsed{
  text-decoration: none;
}
.note-title a.collapsed span{
  transform: rotate(0deg);
}
.note-title a:hover{
  text-decoration: none;
}
.note-title a span{
  position: absolute;
  display: flex;
  right: 6px;
  top: -2px;
  bottom: 0;
  height: auto;
  align-items: center;
  transition: all 250ms ease-in;
  transform: rotate(180deg);
}
.note-content{
    border: 2px solid;
    border-top: 0;
}
.note-content .content{
  padding: 5px 10px;
}
input, select, textarea{
  border: 2px solid #077187;
  border-radius: 0;
  width: 100%;
  margin-bottom: 10px;
  outline: 0;
  background: rgba(255,255,255,0.4);
  padding: 5px 10px;
}
input[type="submit"]{
  background: #077187;
  color: #FFEAD0;
  cursor: pointer;
}
a.add-note-menu-item{
  border: 2px solid #2A324B;
  color: #2A324B;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  transition: all 250ms ease-in;
}
a.add-note-menu-item:hover, a.add-note-menu-item:focus{
  background: #2A324B;
  color: #FFEAD0;
}
.go-back{
  position: relative;
}
.go-back i{
  position: absolute;
  left: 0;
}
.go-back a{
  color: #2A324B;
  position: absolute;
  z-index: 1;
  top: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.custom-alert{
  margin-top: 25px;
  border-width: 2px;
}
