html {
  height: 100%;
}
  
body {
  background: #E7ECEF;
  height: 100%;
}
  
main.wrapper {
  min-height: calc(100% - 40px);
}
footer {
  height: 40px;
  display: flex;
  align-items: center;
  background: #274C77;
  color: #A3CEF1;
  font-weight: 600;
}
.max-600{
  max-width: 600px;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
}

#admin_login{

}
#admin_login label, #admin_login label input{
  width: 100%;
}
.wrapper-aside{
  width: 20%;
}
.wrapper-content{
  width: 80%;
  -webkit-box-shadow: -5px 0px 11px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -5px 0px 11px 0px rgba(0,0,0,0.15);
  box-shadow: -5px 0px 11px 0px rgba(0,0,0,0.15);
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}

.wrapper-content, .wrapper-aside{
  padding-top: 40px;
  padding-bottom: 40px;
}
#aside-section ul.list-group .list-group-item{
  padding: 5px;
  border-radius: 0;
  background: transparent;
  border-width: 0;
  border-bottom-width: 1px;
}
#aside-section ul.list-group .list-group-item a, .admin-post a{
  color: #274C77 ;
}

.admin-post{
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.admin-post h4{
  margin: 0;
}

label input, label select, label textarea{
  width: 100%;
  max-width: 600px;
  min-height: 30px;
}
label{
  width: 100%;
  margin-top: 15px;
}